{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}
<h1>Login</h1>
<p>Please fill out this form to log-in.if you don't have an account <a href="{% url 'account:register' %}">register here</a></p>
<hr>
<form action="{% url 'account:login' %}" method="POST">{% csrf_token %}
    {{form.as_p}}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit">Login</button>
</form>
<div class="social">
    <ul class="li"><a href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a></ul>
    <ul class="li"><a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with google</a></ul>
    
</div>
{% endblock %}